<h1>Login Below!</h1>
<form action="sessions/login" method="post">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" />
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" />
  </p>
  <p>
    <input type="submit" name="" value="Sign in" />
  </p>
</form>
