<h1>Insert the form to create a new instance of your model.</h1>
<form action="/users" method="post">
  <p>Name:
    <input name="user[name]" value="text" />
  </p>
  <p>Email:
    <input name="user[email]" value="text" />
  </p>
  <p>Password:
    <input name="user[password]" value="password" />
  </p>
  <p>
    <input type="submit" name="" value="Create Account" />
  </p>
</form>
