
<p>Name: <%=@user.name%> </p>
<p>Email: <%=@user.email%> </p>


<a href="/users/<%=@user.id%>/edit">Edit My Account</a>
<br></br>

<form method="post" action="/users/<%=@user.id%>">
  <input type="hidden" name="_method" value="delete">
  <br>
  <input type="submit" value="Delete your account">
</form>
<br></br>

<a href="/account">Back to home page</a>
